<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>LetsChat</title>
  <link th:href="@{/css/index-style.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div>
  <button type="button" onclick="showPopup('signInPopup')">Sign In</button>
  <button type="button" onclick="showPopup('signUpPopup')">Sign Up</button>
</div>

<div id="signInPopup" class="popup">
  <button class="close" onclick="hidePopup('signInPopup')">X</button>
  <h4>Sign In</h4>
  <form id="signinForm" th:action="@{/getUser}" method="get">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <button type="submit">Submit</button>
  </form>
</div>

<div id="signUpPopup" class="popup">
  <button class="close" onclick="hidePopup('signUpPopup')">X</button>
  <h4>Sign Up</h4>
  <form id="signupForm" th:action="@{/createUser}" method="post">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <button type="submit">Submit</button>
  </form>
</div>
<script src="js/index.js"></script>
</body>
</html>