<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>LetsChat</title>
  <link th:href="@{/css/main-style.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<!-- Navbar -->
<div class="navbar">
  <form id="chatSearchForm">
    <input type="text" id="chatSearchInput" placeholder="Search Chat">
    <button type="submit">Search</button>
  </form>
  <button id="createChatButton" onclick="showCreateChatPopup()">Create Chat</button>
  <a href="#">Sign Out</a>
</div>

<!-- List of User's Chats -->
<ul id="chatsList">
  <li th:each="chatName : ${chatNames}" th:text="${chatName}"></li>
</ul>

<!-- Create Chat Popup -->
<div id="createChatPopup" class="popup">
  <button class="close" onclick="hideCreateChatPopup()">X</button>
  <h4>Create Chat</h4>
  <form th:action="@{/createChat}" method="post">
    <input type="hidden" name="username" th:value="${username}">
    <input type="text" name="chatName" placeholder="Chat Name">
    <button type="submit">Create</button>
  </form>
</div>

<script>
  function showCreateChatPopup() {
    let popup = document.getElementById("createChatPopup");
    popup.classList.add("show");
  }

  function hideCreateChatPopup() {
    let popup = document.getElementById("createChatPopup");
    popup.classList.remove("show");
  }
</script>
</body>
</html>